{
  "presets": [
    ["@babel/env", {
      "useBuiltIns": "usage",
      "targets": {
        "browsers": "IE 11"
      }
    }],
    "@babel/react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread"
  ]
}
