@import "./../../style-config/colors";

.carbon-form__save--invalid {
<<<<<<< d35c975b09ff2876df3372d5417b4b16b2ad3276
  background-color: $grey-dark-blue-5;
=======
  background-color: #DEE0E8;

  .carbon-button {
    margin-left: 5px;
  }
>>>>>>> abstracts out FormSummary
}

.carbon-form__summary {
  margin: 0 10px;
}

.carbon-form__save,
.carbon-form__cancel {
  border-radius: 4px;
  display: inline-block;
  margin-top: 20px;
}

.carbon-form__save {
  padding: 8px;
}

.carbon-form__cancel {
  padding: 8px 0 8px 8px;
}

.carbon-form__additional-actions {
  padding-left: 10px;
  display: inline-block;
}

.carbon-form__buttons--right {
  text-align: right;
}
